extends layout

block content
    h1= title
    p Weather in  #{title}
    script(src="/javascripts/graphs.js")
    #tempcgraph(style="width:100%; height:400px;")
    #pressuregraph(style="width:100%; height:400px;")
    #humiditygraph(style="width:100%; height:400px;")
    #winddirgraph(style="width:100%; height:400px;")
    #windspeedkmhgraph(style="width:100%; height:400px;")
    #batt_lvlgraph(style="width:100%; height:400px;")
